.Footer-section {
  padding: 21px 0;
  background-color: $layer;
  position: relative;
  z-index: 1;
}
.Footer {
  display: flex;
  ul {
    display: flex;
    margin: 0 auto;
  }
  li {
    @include anim();
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    &+li {
      margin-left: 20px;
    }
  }
  a {

  }
  svg {
    @include wh(30);
  }
}
