.Card {
  padding: 28px;
  border-radius: 10px;
  background-color: $layer;
  height: 100%;
  box-sizing: border-box;

  .big &, .wide & {
    display: flex;
  }
}
.Card__img {
  @include anim();
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 218px;
  width: 100%;
  object-fit: cover;

  .big & {
    height: 100%;
    flex: 1 0 389px;
  }

  .wide & {
    order: 1;
    margin-bottom: 0;
    flex: 1 0 190px;
    height: 159px;
    margin-left: 30px;
  }

  @include lg-block{
    height: 148px;
  }
}
.Card__content {
  .big & {
    margin-left: 28px;
  }
}
.CardInfo {
  margin-bottom: 33px;

  .wide & {
    margin-bottom: 13px;
  }
}
.Card__title {
  @include fp(18, 30);
  color: $white;
  text-align: left;
}
.Card__description {
  display: none;
  color: $text;
  @include fp(15, 28);

  &.Card__description_big {
    margin-top: 33px;

    .big & {
      display: block;
    }
  }
  &.Card__description_wide {
    margin-top: 10px;
    font-size: 14px;

    .wide & {
      display: block;
    }
  }

}