.Card {
  padding: 28px;
  border-radius: 10px;
  background-color: $layer;
  box-sizing: border-box;

  @include md-block{
    flex-direction: column;
  }
  @include xs-block{
    padding: 10px;
  }
}
.Card__img {
  @include anim();
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 218px;
  width: 100%;
  object-fit: cover;

  @include lg-block{
    height: 248px;
  }
  @include md-block{
  }
}
.Card__content {

}
.Card__PostInfo {
  margin-bottom: 33px;

  @include xs-block{
    margin-bottom: 20px;
  }

  .wide & {
    margin-bottom: 13px;
  }
}
.Card__title {
  @include fp(18, 30);
  color: $white;
  text-align: left;

  @include xs-block{
    font-size: 15px;
    line-height: 23px;
  }
}
.Card__description {
  display: none;
  color: $text;
  @include fp(15, 28);
}