.Header-section {
  padding: 16px 0;
  background-color: $layer;
  position: relative;
  z-index: 1;
}
.Header {
  display: flex;
  justify-content: space-between;
}
.Header__Logo {

}
.Header__SearchButton {

}
