$black: #000;
$white: #FFF;

$background: #15161B;
$layer: #1C1C24;
$text: #E7EAEF;
$label: #5E626B;
$action: #3AA8B5;
$purple: #B05AFC;




$font-manrope-b: 'Manrope-bold';
$font-manrope-l: 'Manrope-light';
$font-manrope-r: 'Manrope-regular';
